package components

templ ChatWindow() {
	<div
		hx-ext="ws"
		ws-connect="/ws"
		class="bg-white dark:bg-gray-800 rounded-2xl shadow-xl w-full max-w-sm sm:max-w-md md:max-w-lg overflow-hidden flex flex-col h-[80vh]"
	>
		@MessageArea()
		@ChatInput()
	</div>
}
