package components

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Chat app</title>
			<link rel="stylesheet" href="/static/output.css"/>
		</head>
		<body class="bg-gray-100 dark:bg-gray-900 flex items-center justify-center min-h-screen p-4 font-sans">
			@ChatWindow()
		</body>
	</html>
}
